.registerPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.appName {
  display: flex;
  margin-top: 65px;
  align-items: center;
  justify-content: center;
}
.appName h1 {
  margin: 0;
  font-size: 45px;
  margin-left: 10px;
}
.regForm {
  position: relative;
  margin-top: 30px;
  width: 550px;
  height: 700px;
  border-radius: 8px;
  border: 3.4px solid rgb(192, 186, 186);
}
.regForm h1 {
  margin: 0;
  margin-right: 195px;
  font-size: 35px;
}
.regForm form {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inField {
  margin-top: 15px;
}
.inField label {
  font-weight: 650;
  font-size: 22px;
}

.inField input {
  font-weight: 400;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 7px;
  height: 45px;
  width: 450px;
  border-radius: 5px;
  border: 3px solid rgb(192, 186, 186);
}
.privacy p {
  width: 450px;
  margin: 0;
  font-size: 17px;
  font-weight: 650;
  color: #000;
  margin-top: 15px;
}
.registerBtn {
  background-color: #2e0052;
  color: #fff;
  width: 450px;
  height: 45px;
  font-weight: 700;
  font-size: 22px;
  border-radius: 8px;
  margin-top: 8px;
}
.notes {
  width: 450px;
  margin: 0;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 450;
}
.linkSign {
  color: #000;
  font-weight: 500;
}
.lastline {
  margin: 0;
  margin-top: 32px;
  font-size: 22px;
  font-weight: 700;
}
.links {
  text-decoration: none;
}
